body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  padding-left: 0;
}
.navigation-list{
  list-style: none;
}
.navigation-list a,
.basket-list a{
  color:#000000;
}
.basket-list{
  list-style: none;
}

.navigation-list a:hover{
  color:#fb565a;
}

.basket-list a:hover{
    color:#fb565a;
}
.navigation-list a:focus{
  color: #afafaf;

}
.basket-list a:focus{
  color: #afafaf;
}
.navigation-list a:active{
  color: #3f3f3f;

}
.basket-list a:active{
  color: #3f3f3f;
}
.slider{
  display: flex;
}
.services-list__item{
  list-style: none;
}
.slider{
  display: flex;
}
.slider-content__title{
font-size: 55px;
}
.slider-content__text{

}
.slide__link{
  padding: 10px;
  color: #ffffff;
  background-color:#fb565a;
}
.services-list{
  display: flex;
}
.about-us{
   display: flex;
  
 }
 .partners-list{
  display: flex;
  justify-content:space-around;
 }
 .partners-list li{
  list-style: none;
 }
 .contacts-info a{
  font: inherit;
  background-color:#fb565a;
  color:#ffffff;
 }

 .contacts{
  position: relative;
 }

 .contacts-info{
  position: absolute;
  top: 100px;
  left: 100px;


}
.modal-feedback__title{
  font-size: 45px;
  line-height: 45px;
}

.contact-form input[type="text"],
.contact-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}



